<div class="container m-6 mx-auto">
  <h1 class="h1">Stupid Coaching</h1>
  <br>

    <div class="border-start border-5 bg-secondary p-2 text-dark bg-opacity-10">
      <%= params[:question] %>
      <p><em>— You</em></p>
    </div>

    <br>

    <div class="border-start border-5 bg-warning p-2 text-dark bg-opacity-10">
      <%= @answer %>
      <p><em>— Your coach</em></p>
    </div>

    <br>

    <%= link_to "Ask a new question", ask_path, class: "btn btn-primary" %>
</div>
