<div class="container m-6 mx-auto">
  <h1 class="h1">Stupid Coaching</h1>

  <form class="row g-3" action="/answer" data-turbo="false">
    <label class="form-label" for="question">Ask your coach anything</label>
    <div class="col-6">
    <input class="form-control" type="text" name="question">
    </div>
    <div class="col-2">
    <input class="btn btn-primary w-100" type="submit" value="Ask!">
    </div>
  </form>
</div>
